In [1]:
a = 'hello World'

In [2]:
a

'hello World'

In [4]:
score= 89.34
score

89.34

In [5]:
var= 'hello how are you'

In [6]:
type(var)

str

In [7]:
a='10.5'
print(a)
print(type(a))

10.5
<class 'str'>

In [8]:
a=10
A='dsfd'

In [9]:
print(a)
print(A)

10
dsfd

In [10]:
a=10
a='dsfd'
print(a) # latest value of a

dsfd

In [11]:
a=4
b=5
c=a+b
print(c)

9

In [17]:
def sum(a,b):
    c=a+b
    print(a)
    return c

a=9
b=7

sum(132,3)

132

135

## Mutable - we can change it

## Immutable - we cannot change

In [18]:
var=2
type(var)

int

In [19]:
float(var)

2.0

In [20]:
var1= float(var) # converting one data type to another
type(var1)

float

In [ ]:
CEILING 
FLOOR

2.3---> 2- floor, 3- ceiling

In [21]:
int('s')

ValueError: invalid literal for int() with base 10: 's'

In [22]:
int('123')

123

In [23]:
# convert a float value inside string variable to integer

float('2.3')

2.3

In [24]:
int(float(2.3))

2

In [25]:
var1='hello'

In [26]:
var1[0]

'h'

In [29]:
string='asd'
string[1]='w' #string immutable

TypeError: 'str' object does not support item assignment

In [36]:
a=10
b=3

a/b

3.3333333333333335

In [37]:
a//b #o/p is FLOOR OF division part

3

In [38]:
print((4*5)-9+6/7) # bracket solved first

11.857142857142858

In [39]:
6/7

0.8571428571428571

## TUPLES

## Ordered sequence of mixed data types (can have multiple data types)

In [41]:
t=(2,3,4,5)
type(t)

tuple

In [42]:
a=[2,4,5,6]
type(a)

list

In [44]:
a=('324',43,4,2,1)
len(a)

5

In [45]:
a=('asd',3,24,5,2,[234,234,324,1])

# LIST inside tuple
# accessing elements in tuple-- same as string

In [47]:
a[2]

24

In [50]:
a[5]

[234, 234, 324, 1]

In [51]:
a[5][1]

234

In [52]:
# Anthe rway to define tuple

t1=1,2,3,4,5
print(t1)

(1, 2, 3, 4, 5)

In [53]:
type(t1)

tuple

In [54]:
t2=(1)
type(t2)

#tuple of 1 element=-- integer

int

In [56]:
t2=(1,) # add COMMA here for one elemnt tuple 
type(t2)

tuple

In [57]:
t = ('Mumbai',123,2,'Canada')

In [58]:
t[0]

'Mumbai'

In [59]:
t[-1]

'Canada'

In [60]:
t[0:2]

('Mumbai', 123)

In [61]:
t[0:]

('Mumbai', 123, 2, 'Canada')

In [62]:
t[2:]

(2, 'Canada')

In [65]:
t[3]

'Canada'

In [67]:
t1=("HI",'qweqw','qwe')
t2=("Python",'daf')

t1+t2

('HI', 'qweqw', 'qwe', 'Python', 'daf')

In [69]:
t3=("HI",'qweqw','qwe')
t4=("Python",'daf',131)

t3+t4

('HI', 'qweqw', 'qwe', 'Python', 'daf', 131)

In [70]:
t5=('1231',1,312,1,41,31,'12312312')
len(t5)

7

In [71]:
max(t5)

TypeError: '>' not supported between instances of 'int' and 'str'

In [72]:
t6=('1231',1,312,1,41,31,'12312312')

In [73]:
t6(3)

TypeError: 'tuple' object is not callable

In [74]:
t6[3]

1

In [75]:
t6[1]='234'

# IMMUTABILITY tuple cannot support assigment

TypeError: 'tuple' object does not support item assignment

In [76]:
t7 = t[0:3] + 'asdasd' + 'asdasd' + t6[-4]

TypeError: can only concatenate tuple (not "str") to tuple

In [79]:
t7 = t6[0:3] + ('asdasd','asdasd') + t6[-4]

TypeError: can only concatenate tuple (not "int") to tuple

In [85]:
t =(2,423,4,14,51,0)

new_t= sorted(t)

print(new_t)

type(new_t)

[0, 2, 4, 14, 51, 423]

list

In [86]:
t = (0,2,3,41,3)

In [87]:
t[4]

3

In [88]:
t[5]

IndexError: tuple index out of range

# List

In [ ]:
Tuple there then why list--- on the go we dont want to change data so we need tuple

In [89]:
list1=[1,312,'123123']

In [90]:
print(list1)

[1, 312, '123123']

In [92]:
list2=['123',123,'123123','q',[1231,123,'qw']]
len(list2)

5

In [93]:
list2[-1]

[1231, 123, 'qw']

In [94]:
list1=[1,2,3,4]
list2=[5,6,7,8]

list1+list2

[1, 2, 3, 4, 5, 6, 7, 8]

In [95]:
list1=[1,2,3,4,'qeqw','qweqwe']
list2=[5,6,7,8]

list1+list2

[1, 2, 3, 4, 'qeqw', 'qweqwe', 5, 6, 7, 8]

In [96]:
list1=[1,2,3,4,'qeqw','qweqwe']
list2=[5,6,7,8] + [123123,123]

list1+list2

[1, 2, 3, 4, 'qeqw', 'qweqwe', 5, 6, 7, 8, 123123, 123]

In [97]:
list1=[1,2,3,4,'qeqw','qweqwe']
list2=[5,6,7,8]

list1+list2

print('123' in list1)

False

In [101]:
tuple1=(1,2,3,4,'qeqw','qweqwe')
list2=[5,6,7,8]

list1+list2

print('123' in tuple1)
print(2 in tuple1)

False
True

In [106]:
# EXTEND --- extends list-- provide new elements--- it extends the list

list1=[1,2,3,4]
list1.extend([2,234])

list1

[1, 2, 3, 4, 2, 234]

In [ ]:
list1=[1,2,3,4]
list1.extend([2,234])

list1

In [109]:
#append

list1=[1,2,3,4]
list1.append(2)

list1

[1, 2, 3, 4, 2]

In [110]:
#append

list1=[1,2,3,4]
list1.append([2,213])

list1

[1, 2, 3, 4, [2, 213]]

## Sorted( ) -- is a function

## sort

In [116]:
a=['sda','asds','3asdsdsa']
b=a.sort()
print(a)
print(b)

['3asdsdsa', 'asds', 'sda']
None

## Shallow copy -- in mempry only one copy created and other is REFERENCING to that mempry location

In [119]:
A=['Mango','Orange','Milk']
B=A
A.pop()
print(A)
print(B)

# SHALOW COPY

['Mango', 'Orange']
['Mango', 'Orange']

# DEEP copy/

In [120]:
A=['Mango','Orange','Milk']
B=A[:] #another object created in memory
A.pop()
print(A)
print(B)

['Mango', 'Orange']
['Mango', 'Orange', 'Milk']

In [122]:
s='asd'
s[0]
s[0]='g'

TypeError: 'str' object does not support item assignment

In [123]:
t = ('Monty Python','British',1969)
a='Python'

t1 = t+a

TypeError: can only concatenate tuple (not "str") to tuple

In [125]:
t = ('Monty Python','British',1969)
a='Python'

t1 = t+(a,)

t1

('Monty Python', 'British', 1969, 'Python')

## Union-- Outer join

## Intersection -- Inner join